/* * { */
/*   border: 1px solid #000; */
/* } */

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.header {
  display: grid;
  justify-items: center;
  /* animation: fadeIn 3s; */
}

.header p,
.header span {
  font-size: 32px;
}

.baguncinha {
  color: #5b21b6;
}

.box-cartinhas {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

ul {
  list-style: none;
  padding: 0;
  margin: 10px;
}

li {
  text-align: justify;
}

.nome {
  display: flex;
  justify-content: space-around;
}

.fota {
  height: 200px;
  width: 200px;
  /* max-width: 200px; */
  /* max-height: 200px; */
  display: flex;
  justify-content: space-around;
}

.carta-pessoa {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
}

.mady,
.rods {
  animation: fadeIn 1s;
}

.rhua,
.gabo {
  animation: fadeIn 3s;
}
